<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- PLEASE MAKE SURE TO SET THIS TO AN EXISTING PATH -->
    <!-- The path experiment data will be exported to. -->
    <add key="RunDataPath" value="C:\\Users\\123\\Desktop\\test\\"/>

    <!-- The starting score for each block. Default: 0 -->
    <add key="InitialScore" value="0"/>

    <!-- The maximum time allocated for each trial (question) in seconds. Default: 2 -->
    <add key="TrialDurationInSeconds" value="2"/>

    <!-- The duration for each block in seconds. Default: 120 (2 minutes) -->
    <add key="BlockDurationInSeconds" value="10"/>

    <!-- The duration for the first block (the introduction) in seconds. Default: 60 (1 minutes) -->
    <add key="IntroDurationInSeconds" value="10"/>

    <!-- The duration in which a visual feedback is displayed. -->
    <!-- This value is in milliseconds. Default: 500 (0.5 second) -->
    <add key="FeedbackDurationInMs" value="500"/>

    <!-- The interval between the end of feedback and the next trial. -->
    <!-- This value is in milliseconds. Default: 500 (0.5 second) -->
    <add key="TrialIntervalDurationInMs" value="500"/>

  </appSettings>
</configuration>